/data/raw/*
/data/processed/*
/data/cleaned/*
.env
env/
*.ipynb
data/cache/fastf1_http_cache.sqlite
data/cache/2024/2024-03-02_Bahrain_Grand_Prix/2024-03-02_Race/driver_info.ff1pkl
data/cache/2024/2024-03-02_Bahrain_Grand_Prix/2024-03-02_Race/session_info.ff1pkl
data/cache/2024/2024-03-09_Saudi_Arabian_Grand_Prix/2024-03-09_Race/driver_info.ff1pkl
data/cache/2024/2024-03-09_Saudi_Arabian_Grand_Prix/2024-03-09_Race/session_info.ff1pkl
data/cache/2024/2024-03-24_Australian_Grand_Prix/2024-03-24_Race/driver_info.ff1pkl
data/cache/2024/2024-03-24_Australian_Grand_Prix/2024-03-24_Race/session_info.ff1pkl
data/cache/2024/2024-04-07_Japanese_Grand_Prix/2024-04-07_Race/driver_info.ff1pkl
data/cache/2024/2024-04-07_Japanese_Grand_Prix/2024-04-07_Race/session_info.ff1pkl
data/cache/2024/2024-04-21_Chinese_Grand_Prix/2024-04-20_Sprint/driver_info.ff1pkl
data/cache/2024/2024-04-21_Chinese_Grand_Prix/2024-04-20_Sprint/session_info.ff1pkl
data/cache/2024/2024-04-21_Chinese_Grand_Prix/2024-04-21_Race/driver_info.ff1pkl
data/cache/2024/2024-04-21_Chinese_Grand_Prix/2024-04-21_Race/session_info.ff1pkl
data/cache/2024/2024-05-05_Miami_Grand_Prix/2024-05-04_Sprint/driver_info.ff1pkl
data/cache/2024/2024-05-05_Miami_Grand_Prix/2024-05-04_Sprint/session_info.ff1pkl
data/cache/2024/2024-05-05_Miami_Grand_Prix/2024-05-05_Race/driver_info.ff1pkl
data/cache/2024/2024-05-05_Miami_Grand_Prix/2024-05-05_Race/session_info.ff1pkl
data/cache/2024/2024-05-19_Emilia_Romagna_Grand_Prix/2024-05-19_Race/driver_info.ff1pkl
data/cache/2024/2024-05-19_Emilia_Romagna_Grand_Prix/2024-05-19_Race/session_info.ff1pkl
data/cache/2024/2024-05-26_Monaco_Grand_Prix/2024-05-26_Race/driver_info.ff1pkl
data/cache/2024/2024-05-26_Monaco_Grand_Prix/2024-05-26_Race/session_info.ff1pkl
data/cache/2024/2024-06-09_Canadian_Grand_Prix/2024-06-09_Race/driver_info.ff1pkl
data/cache/2024/2024-06-09_Canadian_Grand_Prix/2024-06-09_Race/session_info.ff1pkl
data/cache/2024/2024-06-23_Spanish_Grand_Prix/2024-06-23_Race/driver_info.ff1pkl
data/cache/2024/2024-06-23_Spanish_Grand_Prix/2024-06-23_Race/session_info.ff1pkl
data/cache/2024/2024-06-30_Austrian_Grand_Prix/2024-06-29_Sprint/driver_info.ff1pkl
data/cache/2024/2024-06-30_Austrian_Grand_Prix/2024-06-29_Sprint/session_info.ff1pkl
data/cache/2024/2024-06-30_Austrian_Grand_Prix/2024-06-30_Race/driver_info.ff1pkl
data/cache/2024/2024-06-30_Austrian_Grand_Prix/2024-06-30_Race/session_info.ff1pkl
data/cache/2024/2024-07-07_British_Grand_Prix/2024-07-07_Race/driver_info.ff1pkl
data/cache/2024/2024-07-07_British_Grand_Prix/2024-07-07_Race/session_info.ff1pkl
data/cache/2024/2024-07-21_Hungarian_Grand_Prix/2024-07-21_Race/driver_info.ff1pkl
data/cache/2024/2024-07-21_Hungarian_Grand_Prix/2024-07-21_Race/session_info.ff1pkl
data/cache/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/driver_info.ff1pkl
data/cache/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/session_info.ff1pkl
data/cache/2024/2024-08-25_Dutch_Grand_Prix/2024-08-25_Race/driver_info.ff1pkl
data/cache/2024/2024-08-25_Dutch_Grand_Prix/2024-08-25_Race/session_info.ff1pkl
data/cache/2024/2024-09-01_Italian_Grand_Prix/2024-09-01_Race/driver_info.ff1pkl
data/cache/2024/2024-09-01_Italian_Grand_Prix/2024-09-01_Race/session_info.ff1pkl
data/cache/2024/2024-09-15_Azerbaijan_Grand_Prix/2024-09-15_Race/driver_info.ff1pkl
data/cache/2024/2024-09-15_Azerbaijan_Grand_Prix/2024-09-15_Race/session_info.ff1pkl
data/cache/2024/2024-09-22_Singapore_Grand_Prix/2024-09-22_Race/driver_info.ff1pkl
data/cache/2024/2024-09-22_Singapore_Grand_Prix/2024-09-22_Race/session_info.ff1pkl
data/cache/2024/2024-10-20_United_States_Grand_Prix/2024-10-19_Sprint/driver_info.ff1pkl
data/cache/2024/2024-10-20_United_States_Grand_Prix/2024-10-19_Sprint/session_info.ff1pkl
data/cache/2024/2024-10-20_United_States_Grand_Prix/2024-10-20_Race/driver_info.ff1pkl
data/cache/2024/2024-10-20_United_States_Grand_Prix/2024-10-20_Race/session_info.ff1pkl
data/cache/2024/2024-10-27_Mexico_City_Grand_Prix/2024-10-27_Race/driver_info.ff1pkl
data/cache/2024/2024-10-27_Mexico_City_Grand_Prix/2024-10-27_Race/session_info.ff1pkl
data/cache/2024/2024-10-27_Mexico_City_Grand_Prix/2024-10-27_Race/weather_data.ff1pkl
data/cache/2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-02_Sprint/driver_info.ff1pkl
data/cache/2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-02_Sprint/session_info.ff1pkl
data/cache/2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-03_Race/driver_info.ff1pkl
data/cache/2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-03_Race/session_info.ff1pkl
data/cache/2024/2024-11-03_São_Paulo_Grand_Prix/2024-11-03_Race/weather_data.ff1pkl
data/cache/2024/2024-11-23_Las_Vegas_Grand_Prix/2024-11-23_Race/driver_info.ff1pkl
data/cache/2024/2024-11-23_Las_Vegas_Grand_Prix/2024-11-23_Race/session_info.ff1pkl
data/cache/2024/2024-12-01_Qatar_Grand_Prix/2024-11-30_Sprint/driver_info.ff1pkl
data/cache/2024/2024-12-01_Qatar_Grand_Prix/2024-11-30_Sprint/session_info.ff1pkl
data/cache/2024/2024-12-01_Qatar_Grand_Prix/2024-12-01_Race/driver_info.ff1pkl
data/cache/2024/2024-12-01_Qatar_Grand_Prix/2024-12-01_Race/session_info.ff1pkl
data/cache/2024/2024-12-08_Abu_Dhabi_Grand_Prix/2024-12-08_Race/driver_info.ff1pkl
data/cache/2024/2024-12-08_Abu_Dhabi_Grand_Prix/2024-12-08_Race/session_info.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-15_Qualifying/_extended_timing_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-15_Qualifying/car_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-15_Qualifying/driver_info.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-15_Qualifying/position_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-15_Qualifying/race_control_messages.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-15_Qualifying/session_info.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-15_Qualifying/session_status_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-15_Qualifying/timing_app_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-15_Qualifying/track_status_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-15_Qualifying/weather_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-16_Race/_extended_timing_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-16_Race/car_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-16_Race/driver_info.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-16_Race/lap_count.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-16_Race/position_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-16_Race/race_control_messages.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-16_Race/session_info.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-16_Race/session_status_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-16_Race/timing_app_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-16_Race/track_status_data.ff1pkl
data/cache/2025/2025-03-16_Australian_Grand_Prix/2025-03-16_Race/weather_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Qualifying/_extended_timing_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Qualifying/car_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Qualifying/driver_info.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Qualifying/position_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Qualifying/race_control_messages.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Qualifying/session_info.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Qualifying/session_status_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Qualifying/timing_app_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Qualifying/track_status_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Qualifying/weather_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Sprint/driver_info.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-22_Sprint/session_info.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-23_Race/_extended_timing_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-23_Race/car_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-23_Race/driver_info.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-23_Race/lap_count.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-23_Race/position_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-23_Race/race_control_messages.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-23_Race/session_info.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-23_Race/session_status_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-23_Race/timing_app_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-23_Race/track_status_data.ff1pkl
data/cache/2025/2025-03-23_Chinese_Grand_Prix/2025-03-23_Race/weather_data.ff1pkl
data/cache/2025/2025-04-06_Japanese_Grand_Prix/2025-04-06_Race/driver_info.ff1pkl
data/cache/2025/2025-04-06_Japanese_Grand_Prix/2025-04-06_Race/session_info.ff1pkl
data/cache/2025/2025-04-06_Japanese_Grand_Prix/2025-04-06_Race/weather_data.ff1pkl
data/cache/2025/2025-04-13_Bahrain_Grand_Prix/2025-04-13_Race/driver_info.ff1pkl
data/cache/2025/2025-04-13_Bahrain_Grand_Prix/2025-04-13_Race/session_info.ff1pkl
data/cache/2025/2025-04-13_Bahrain_Grand_Prix/2025-04-13_Race/weather_data.ff1pkl
data/cache/2025/2025-04-20_Saudi_Arabian_Grand_Prix/2025-04-20_Race/driver_info.ff1pkl
data/cache/2025/2025-04-20_Saudi_Arabian_Grand_Prix/2025-04-20_Race/session_info.ff1pkl
data/cache/2025/2025-04-20_Saudi_Arabian_Grand_Prix/2025-04-20_Race/weather_data.ff1pkl
data/cache/2025/2025-05-04_Miami_Grand_Prix/2025-05-03_Sprint/driver_info.ff1pkl
data/cache/2025/2025-05-04_Miami_Grand_Prix/2025-05-03_Sprint/session_info.ff1pkl
data/cache/2025/2025-05-04_Miami_Grand_Prix/2025-05-04_Race/driver_info.ff1pkl
data/cache/2025/2025-05-04_Miami_Grand_Prix/2025-05-04_Race/session_info.ff1pkl
data/cache/2025/2025-05-04_Miami_Grand_Prix/2025-05-04_Race/weather_data.ff1pkl
data/cache/2025/2025-05-18_Emilia_Romagna_Grand_Prix/2025-05-18_Race/driver_info.ff1pkl
data/cache/2025/2025-05-18_Emilia_Romagna_Grand_Prix/2025-05-18_Race/session_info.ff1pkl
data/cache/2025/2025-05-18_Emilia_Romagna_Grand_Prix/2025-05-18_Race/weather_data.ff1pkl
data/cache/2025/2025-05-25_Monaco_Grand_Prix/2025-05-25_Race/driver_info.ff1pkl
data/cache/2025/2025-05-25_Monaco_Grand_Prix/2025-05-25_Race/session_info.ff1pkl
data/cache/2025/2025-05-25_Monaco_Grand_Prix/2025-05-25_Race/weather_data.ff1pkl
data/cache/2025/2025-06-01_Spanish_Grand_Prix/2025-06-01_Race/driver_info.ff1pkl
data/cache/2025/2025-06-01_Spanish_Grand_Prix/2025-06-01_Race/session_info.ff1pkl
data/cache/2025/2025-06-01_Spanish_Grand_Prix/2025-06-01_Race/weather_data.ff1pkl
data/cache/2025/2025-06-15_Canadian_Grand_Prix/2025-06-15_Race/driver_info.ff1pkl
data/cache/2025/2025-06-15_Canadian_Grand_Prix/2025-06-15_Race/session_info.ff1pkl
data/cache/2025/2025-06-15_Canadian_Grand_Prix/2025-06-15_Race/weather_data.ff1pkl
data/cache/2025/2025-06-29_Austrian_Grand_Prix/2025-06-29_Race/driver_info.ff1pkl
data/cache/2025/2025-06-29_Austrian_Grand_Prix/2025-06-29_Race/session_info.ff1pkl
data/cache/2025/2025-06-29_Austrian_Grand_Prix/2025-06-29_Race/weather_data.ff1pkl
data/cache/2025/2025-07-06_British_Grand_Prix/2025-07-06_Race/driver_info.ff1pkl
data/cache/2025/2025-07-06_British_Grand_Prix/2025-07-06_Race/session_info.ff1pkl
data/cache/2025/2025-07-06_British_Grand_Prix/2025-07-06_Race/weather_data.ff1pkl
data/cache/2025/2025-07-27_Belgian_Grand_Prix/2025-07-26_Sprint/driver_info.ff1pkl
data/cache/2025/2025-07-27_Belgian_Grand_Prix/2025-07-26_Sprint/session_info.ff1pkl
data/cache/2025/2025-07-27_Belgian_Grand_Prix/2025-07-27_Race/driver_info.ff1pkl
data/cache/2025/2025-07-27_Belgian_Grand_Prix/2025-07-27_Race/session_info.ff1pkl
data/cache/2025/2025-07-27_Belgian_Grand_Prix/2025-07-27_Race/weather_data.ff1pkl
data/cache/2025/2025-08-03_Hungarian_Grand_Prix/2025-08-03_Race/driver_info.ff1pkl
data/cache/2025/2025-08-03_Hungarian_Grand_Prix/2025-08-03_Race/session_info.ff1pkl
data/cache/2025/2025-08-03_Hungarian_Grand_Prix/2025-08-03_Race/weather_data.ff1pkl
data/cache/2025/2025-08-31_Dutch_Grand_Prix/2025-08-31_Race/driver_info.ff1pkl
data/cache/2025/2025-08-31_Dutch_Grand_Prix/2025-08-31_Race/session_info.ff1pkl
data/cache/2025/2025-08-31_Dutch_Grand_Prix/2025-08-31_Race/weather_data.ff1pkl
data/cache/2025/2025-09-07_Italian_Grand_Prix/2025-09-07_Race/driver_info.ff1pkl
data/cache/2025/2025-09-07_Italian_Grand_Prix/2025-09-07_Race/session_info.ff1pkl
data/cache/2025/2025-09-07_Italian_Grand_Prix/2025-09-07_Race/weather_data.ff1pkl
data/cache/2025/2025-09-21_Azerbaijan_Grand_Prix/2025-09-21_Race/driver_info.ff1pkl
data/cache/2025/2025-09-21_Azerbaijan_Grand_Prix/2025-09-21_Race/session_info.ff1pkl
data/cache/2025/2025-09-21_Azerbaijan_Grand_Prix/2025-09-21_Race/weather_data.ff1pkl
data/cache/2025/2025-10-05_Singapore_Grand_Prix/2025-10-05_Race/driver_info.ff1pkl
data/cache/2025/2025-10-05_Singapore_Grand_Prix/2025-10-05_Race/session_info.ff1pkl
data/cache/2025/2025-10-05_Singapore_Grand_Prix/2025-10-05_Race/weather_data.ff1pkl
data/cache/2025/2025-10-19_United_States_Grand_Prix/2025-10-18_Sprint/driver_info.ff1pkl
data/cache/2025/2025-10-19_United_States_Grand_Prix/2025-10-18_Sprint/session_info.ff1pkl
data/cache/2025/2025-10-19_United_States_Grand_Prix/2025-10-19_Race/driver_info.ff1pkl
data/cache/2025/2025-10-19_United_States_Grand_Prix/2025-10-19_Race/session_info.ff1pkl
data/cache/2025/2025-10-19_United_States_Grand_Prix/2025-10-19_Race/weather_data.ff1pkl
data/cache/2025/2025-10-26_Mexico_City_Grand_Prix/2025-10-26_Race/driver_info.ff1pkl
data/cache/2025/2025-10-26_Mexico_City_Grand_Prix/2025-10-26_Race/session_info.ff1pkl
data/cache/2025/2025-10-26_Mexico_City_Grand_Prix/2025-10-26_Race/weather_data.ff1pkl
data/cache/2025/2025-11-09_São_Paulo_Grand_Prix/2025-11-08_Sprint/driver_info.ff1pkl
data/cache/2025/2025-11-09_São_Paulo_Grand_Prix/2025-11-08_Sprint/session_info.ff1pkl
data/cache/2025/2025-11-09_São_Paulo_Grand_Prix/2025-11-09_Race/driver_info.ff1pkl
data/cache/2025/2025-11-09_São_Paulo_Grand_Prix/2025-11-09_Race/session_info.ff1pkl
data/cache/2025/2025-11-09_São_Paulo_Grand_Prix/2025-11-09_Race/weather_data.ff1pkl
data/season_2025.parquet
data/season.parquet
